{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<li><a href="{% url 'first' %}"> Homepage</a></li>
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Project list</h5>
        <div class="card-body">
            <p class="card-text"><ul> My profile</ul><ul> Web Resume</ul><ul> Tic-Tac-Toe</ul><ul> Wordle</ul><ul> Django app</ul>
                <ul> Django_Rest_Framework</ul></p>
            <a href="#" class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}